<h1><%= t('forms.task_edit.page_title') %></h1>

<%= render 'form', task: @task do |form| %>
  <div class="actions">
    <%= form.submit t('forms.task_edit.update_button'), id: 'update-task' %>
  </div><br>
<% end %>

<%= link_to t('forms.task_edit.back_link'), task_path(@task), id: 'back' %>
