<h1><%= t('links.global.new_task') %></h1>

<%= render 'form', task: @task do |form| %>
  <div class="actions">
    <%= form.submit t('forms.new_task.create_button'), id: 'create-task' %>
  </div><br>
<% end %>

<%= link_to t('forms.new_task.back_link'), tasks_path, id: 'back' %>
